.container{
  display: inline-block;
  position: relative;
}

.container #nomeCartao{
  position: absolute;
  top: 30px;
  left: 30px;
  font-size: 40px;
  color: black;
  text-shadow: 0px 0px 5px black;
  width: auto;
}

.container #telefoneCartao{
  position: absolute;
  top: 130px;
  left: 30px;
  font-size: 22px;
  color: black;
  text-shadow: 0px 0px 5px black;
  width: auto;
}

.container #enderecoCartao{
  position: absolute;
  top: 170px;
  left: 30px;
  font-size: 22px;
  color: black;
  text-shadow: 0px 0px 5px black;
  width: auto;
}
